<div class="row">
    <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Detalle de ingreso egreso</h4>

            <table class="table">
              <thead>
                <tr>
                  <th>Descripción</th>
                  <th>Monto</th>
                  <th>Tipo</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of items | ordenIngresoEgreso">
                  <td>{{ item.descripcion }}</td>
                  <td>{{ item.monto | currency }}</td>
                  <td>
                    <span [ngClass]="{
                      'text-success': item.tipo === 'ingreso',
                      'text-danger': item.tipo === 'egreso'
                    }">
                      {{ item.tipo }}
                    </span>
                  </td>
                  <td>
                    <button (click)="borrarItem( item )"
                            class="btn btn-danger">
                      <i class="fa fa-trash"></i>
                      Borrar
                    </button>

                  </td>
                </tr>
              </tbody>

            </table>


          </div>
        </div>
    </div>
</div>
  